body {
    background: linear-gradient(180deg, #034d2f 0%, #2c654c 100%);
    background-size: 100%;
    margin: 0;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.wrapper {
    align-items: center;
    justify-content: center;
    height: 650px;
    width: 100%;
    background: #fff;
  }

h1 {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
    font-size: 25px;
  }

.img {
    border-radius: 10px;
    width: 400px;
    height: 250px;
    margin-top: 50px;
}
